.hero-section {
    position: relative;
    height: 550px; 
    background-image: linear-gradient(to right, #05162b 10%, rgba(5, 22, 43, 0.8) 45%, rgba(5, 22, 43, 0) 70%), url('../assets/Image\ [objectfit].png'); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center; 
    font-family: Arial, sans-serif;
  }

  
  .hero-content {
    padding-left: 10%; 
    max-width: 600px;
    color: #ffffff;
  }
  
  .hero-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .hero-content p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 35px;
  }
  
  